{{#section "styles"}}
  <link rel="stylesheet" href="/static/byCat.css" />
{{/section}}

<section class="py-5">
  <div class="container">
    <div class="row g-4">
      <aside class="col-lg-3">
        <div class="card shadow-sm border-0 rounded-4">
          <div class="card-body">
            <h5 class="text text-uppercase medium mb-3">List of courses</h5>
            <div class="list-group list-group-flush">
              <a
                href="#"
                class="list-group-item list-group-item-action px-0"
              >aaa</a>
              <a
                href="#"
                class="list-group-item list-group-item-action px-0"
              >bbb</a>
              <a
                href="#"
                class="list-group-item list-group-item-action px-0"
              >ccc</a>
              <a
                href="#"
                class="list-group-item list-group-item-action px-0"
              >ddd</a>
              <a
                href="#"
                class="list-group-item list-group-item-action px-0"
              >eee</a>
            </div>
          </div>
        </div>
      </aside>

      <div class="col-lg-9">
        <div
          class="d-flex flex-wrap align-items-center justify-content-between gap-2 mb-4"
        >
          <div>
            <h2 class="h4 fw-semibold mb-1">Courses</h2>
          </div>
        </div>

        <div class="row g-4">
          <div class="col-md-6 col-xl-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img
                src="https://picsum.photos/seed/course-detail/640/420"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
              <div class="card-footer">
                <a
                  href="/course/details"
                  class="btn btn-sm btn-outline-primary"
                >
                  <i class="bi bi-eye"></i>
                  View Details
                </a>
                <a href="#" class="btn btn-sm btn-outline-success">
                  <i class="bi bi-cart-plus"></i>
                  Add to Cart
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img
                src="https://picsum.photos/seed/course-detail/640/420"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
              <div class="card-footer">
                <a
                  href="/course/details"
                  class="btn btn-sm btn-outline-primary"
                >
                  <i class="bi bi-eye"></i>
                  View Details
                </a>
                <a href="#" class="btn btn-sm btn-outline-success">
                  <i class="bi bi-cart-plus"></i>
                  Add to Cart
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img
                src="https://picsum.photos/seed/course-detail/640/420"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
              <div class="card-footer">
                <a
                  href="/course/details"
                  class="btn btn-sm btn-outline-primary"
                >
                  <i class="bi bi-eye"></i>
                  View Details
                </a>
                <a href="#" class="btn btn-sm btn-outline-success">
                  <i class="bi bi-cart-plus"></i>
                  Add to Cart
                </a>
              </div>
            </div>
          </div>
        </div>

        <nav aria-label="Page navigation example">
          <ul class="pagination mt-4 justify-content-center">
            <li class="page-item"><a
                class="page-link"
                href="#"
              >Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>