@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
:root {
  --blue: #0e0620;
  --white: #fff;
  --green: #2ccf6d;
}

/* Chỉ áp dụng cho main của trang 404 */
main.error-404 {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans";
  color: var(--blue);
  font-size: 1em;
}

main.error-404 button {
  font-family: "Nunito Sans";
}

main.error-404 svg {
  width: 100%;
  visibility: hidden;
}

main.error-404 h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight: bold;
}

main.error-404 h2 {
  font-weight: bold;
}

main.error-404 .btn-404 {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
  border: none;
}

main.error-404 .btn-404.green {
  border: 4px solid var(--green);
  color: var(--blue);
}

main.error-404 .btn-404.green:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--green);
  z-index: -1;
  transition: 0.2s ease;
}

main.error-404 .btn-404.green:hover {
  color: var(--white);
  background: var(--green);
  transition: 0.2s ease;
}

main.error-404 .btn-404.green:hover:before {
  width: 100%;
}

main.error-404 .btn-404 a {
  color: inherit;
  text-decoration: none;
}

main.error-404 .btn-404 a:hover {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  main.error-404 {
    min-height: auto;
    display: block;
  }
  main.error-404 .container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
