.category-container {
  margin: 40px 80px;
}

.accordion-header .header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header .btn-sm {
  padding: 4px 8px;
}
